
.DS_Store

Hackheld_Vega_PCB/fp-info-cache

HackHeld Vega II/fp-info-cache

HackHeld Vega II/Hackheld_Vega-backups/

HackHeld Vega II/production/

HackHeld Vega II LiPo/Hackheld_Vega_LiPo-backups/

HackHeld Vega II LiPo/fp-info-cache

*.kicad_prl
